{% load static %}
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<!-- Loding font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

<!-- Custom Styles -->
<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css'%}">

<title>COCOMOII仿真器</title>
</head>
<body>

<!-- Backgrounds -->

<div id="login-bg" class="container-fluid">

  <div class="bg-img"></div>
  <div class="bg-color"></div>
</div>

<!-- End Backgrounds -->

<div class="container" id="login">
	<div class="row justify-content-center">
	<div class="col-lg-8">
	  <div class="login">

		<h1>COCOMOII仿真器</h1>
          {{ error }}
		<!-- Loging form -->
			  <form method="post">
                  {% csrf_token %}
				<div class="form-group">
				  <input type="text" class="form-control" id="exampleInputEmail1" name="user_name" aria-describedby="emailHelp" placeholder="输入账号">

				</div>
				<div class="form-group">
				  <input type="password" class="form-control" id="exampleInputPassword1" name="pwd" placeholder="输入密码">
				</div>

				  <div class="form-check">

				  <label class="switch">
				  <input type="checkbox">
				</label>

				</div>

				<br>
				<button type="submit" class="btn btn-lg btn-block btn-success" >登录</button>
              </form>
          <div style="margin-left:82px;width: 420px;"><a href="{% url 'myapp:register' %}"><button class="btn btn-lg btn-block btn-success " >注册</button></a></div>
          <!-- End Loging form -->

	  </div>
	</div>
	</div>
</div>


</body>

</html>